<div class="next-steps my-5">
    <h2 class="my-5 text-center">Where can I go next?</h2>

    <div class="row">
      <div class="col-md-5 mb-4">
        <h6 class="mb-3">
          <a href="https://auth0-angular-gamma.vercel.app/">
            <fa-icon [icon]="faLink"></fa-icon> Angular
          </a>
        </h6>
        <p>
          Built with the Angular SDK
        </p>
      </div>

      <div class="col-md"></div>

      <div class="col-md-5 mb-4">
        <h6 class="mb-3">
          <a href="https://auth0-vue.vercel.app/">
            <fa-icon [icon]="faLink"></fa-icon> Vue.js
          </a>
        </h6>
        <p>
          Built with the Vue SDK
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 mb-4">
        <h6 class="mb-3">
          <a href="https://auth0-react.vercel.app/">
            <fa-icon [icon]="faLink"></fa-icon> React
          </a>
        </h6>
        <p>
          Built with the React SDK
        </p>
      </div>

      <div class="col-md"></div>

      <div class="col-md-5 mb-4">
        <h6 class="mb-3">
          <a href="https://auth0-javascript.vercel.app/">
            <fa-icon [icon]="faLink"></fa-icon> JavaScript
          </a>
        </h6>
        <p>
          Built with the JavaScript SDK
        </p>
      </div>
    </div>
  </div>
